.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
}

.leftSide {
  width: 320px;
  height: 100%;
  top: 26px;
  padding: 16px;
  
}

.actioButton {
  width: 100%;
  display: flex;
  background: linear-gradient(0deg, #D7C7F4, #D7C7F4),
linear-gradient(0deg, #D7C7F4, #D7C7F4),
linear-gradient(0deg, #D7C7F4, #D7C7F4),
linear-gradient(0deg, #D7C7F4, #D7C7F4);
  padding: 10px 16px;
  align-items: center;
  justify-content: space-between;
  border-radius: 9px;
}

.rightSide {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(215, 199, 244, 0.2) 0%, rgba(151, 133, 186, 0.2) 100%);
}

.header {
  width: 100%;
  height: 60px;
  padding: 16px;
  
  font-family: Ubuntu;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #9785ba;

}

.chatbody {
  width: 100%;
  overflow-y: scroll;
  
  padding: 16px;
  flex-grow: 1;
}

.footer {
  width: 100%;
  padding: 24px;
 
  display: flex;
  justify-content: space-between;
gap:10px;

}


.heading2 {
  position: absolute;
  width: 348px;
  height: 32px;
  top: 252px;
  left: 569px;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}


.historyside {
  width: 208px;
  height: 47px;
  display: flex;
  align-items: center;
  gap: 20px;

  background: linear-gradient(0deg, #d7c7f4, #d7c7f4),
    linear-gradient(0deg, #d7c7f4, #d7c7f4),
    linear-gradient(0deg, #d7c7f4, #d7c7f4),
    linear-gradient(0deg, #d7c7f4, #d7c7f4);
  position: relative;
}

.minilogo {
  width: 33px;
  height: 32px;
  top: 33px;
  left: 16.42px;
}

.newchat {
  width: 89px;
  height: 23px;
  top: 42px;
  left: 72px;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
}
.past {
  width: 175px;
  height: 39px;
  top: 84px;
  left: 35px;
  border-radius: 10px;
  background: linear-gradient(0deg, #d7c7f4, #d7c7f4),
    linear-gradient(0deg, #d7c7f4, #d7c7f4),
    linear-gradient(0deg, #d7c7f4, #d7c7f4),
    linear-gradient(0deg, #d7c7f4, #d7c7f4);
 display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-decoration: none;
}

.grids {
  width: 514;
  height: 111;
  top: 476px;
  left: 222px;
  border-radius: 5px;
  background: #ffffff;
  position: absolute;
}

.btn1 {
  width: 73px;
  height: 41px;
  top: 0;
  left: 900px;
  border-radius: 5px;
  background: #d7c7f4;
  border: none;
  
}

.btn2 {
  width: 73px;
  height: 41px;
  top: 777px;
  left: 1190px;
  border-radius: 5px;
  background: #d7c7f4;
  border: none;
}

.feedback {
  width: 100%;
  height: 41px;
  top: 0;
  left: 222px;
  border-width: 1px;
  border-radius: 5px;
}

.endpart {
  position: absolute;
  width: 100%;
  height: 41;
  top: 750px;
  left: 180px;
  border-width: 1px;
  border-radius: 5px;
}

.chat {
  width: 100%;
  height: 105px;
  top: 168px;
  left: 236px;
  border-radius: 20px;
  background: #d7c7f421;
  display: flex;
  align-items: center;
  
}


.airesponse {
  width: 100%;
  height: 105px;
  top: 168px;
  left: 236px;
  border-radius: 20px;
  background: #d7c7f421;
  display: flex;
  align-items: center;
}

.img2 {
  width: 65px;
  height: 69px;
  top: 307px;
  left: 258px;
  border-radius: 50%;
}


.convoheading {
    font-family: Ubuntu;
font-weight: 400;
font-size: 28px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
padding: 40px;
}

.convosubhead {
    font-family: Ubuntu;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
padding: 20px;

}


.container {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: auto auto;
    padding: 20px;
   

}

.boxs{
    width: 514;
    height: 111;
    top: 476;
    left: 222px;
    border-radius: 5px;
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    font-weight: 500;
}